#main-container{
    background-color: rgb(219, 219, 219);
    height: 500px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}
.sub-container{
    height: 400px;
    margin: 10px;
    border: 2px solid black;
    width: 33%;
    border-radius: 5px 
}
#img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
img{
    height: 100%;
    width: 100%;
    object-fit: contain
}