@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    padding: 0%;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    background-image: url('./img/bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.full-container{
    padding: 0%;
    margin: 0%;
}

#main-container{
    min-height: 100vh;
    background-color: whitesmoke;
    padding: 10px 30px;
    box-shadow: 1px 1px 5px rgb(0, 0, 0);
    border-radius: 15px;
    border-radius: 10px;
    margin: 10px 120px;
}
.title-container{
    padding: 5px;
    /* border: 2px solid black; */
    height: 120px;
    
}
.detail-container{
    display: flex;
    flex-direction: row;
}
#left-container{
    /* border: 2px solid black; */
    width: 60%;
    padding-right: 50px;
}
#right-container{
    display: flex;
    /* border: 2px solid black; */
    justify-content: center;
    width: 40%;
    padding: 10px;
    align-items: center;
    overflow: hidden;
}
img{
    height: 100%;
    width: 100%;
    object-fit: contain
}
.title-container{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
#title{
    height: 200%;
    width: 80%;
}
#top-btn{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#top-btn button{
    height: 50px;
    border-radius: 25px;
    box-shadow: none;
}
#title h1{
    font-size: 40px;
    margin: 10px 0px;
}

#title h3{
    font-size: 30px;
    margin: 0px;
}
.table{
    margin-bottom: 30px;
}
th{
    width: 30%;
}
.job-description-icon{
    margin-right: 10px;
    font-size: 20px;
    width: 2%;
    color: rgb(61, 61, 61);
}
.description-container{
    border: 1px solid rgba(128, 128, 128, 0.205);
    padding: 10px;
    border-radius: 20px;
}