@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

#main-container{
    background-color: whitesmoke;
    padding: 10px 30px;
    box-shadow: 1px 1px 5px grey;
    border-radius: 15px;
    border-radius: 10px;
    margin: 10px 120px;
}
.title-container{
    padding: 5px;
    /* border: 2px solid black; */
    height: 120px;
    
}
.detail-container{
    display: flex;
    flex-direction: row;
}
#left-container{
    /* border: 2px solid black; */
    width: 60%;
    padding-right: 50px;
}
#right-container{
    display: flex;
    /* border: 2px solid black; */
    justify-content: center;
    width: 40%;
    padding: 10px;
    align-items: center;
    overflow: hidden;
}
img{
    height: 100%;
    width: 100%;
    object-fit: contain
}
.title-container{
    display: flex;
    flex-direction: row;
}
#title{
    width: 80%;
}
#copy-link-btn{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
}
#copy-link-btn button{
    height: 50px;
    border-radius: 25px;
    box-shadow: none;
}
#title h1{
    font-size: 40px;
    margin: 10px 0px;
}

#title h3{
    font-size: 25px;
    margin: 0px;
}
th{
    width: 30%;
}
.job-description-icon{
    margin-right: 10px;
}
.icon{
    width: 2%;
}